body {
  font: normal 15pt Arial;
  background-color: dodgerblue;
}
h1#subTitulo {
  margin-left: 100px;
  color: pink;
}
input {
  width: 110px;
  height: 25px;
}
div#resultado {
  color: darkblue;
  margin-top: 20px;
  margin-bottom: 5px;
}
div#resultado2 {
  color: darkblue;
  margin-top: 20px;
  margin-bottom: 5px;
}
div#resultado3 {
  color: darkblue;
  margin-top: 20px;
  margin-bottom: 5px;
}
div#resultado4 {
  color: darkblue;
  margin-top: 20px;
  margin-bottom: 5px;
}
p#by {
  margin-top: 100px;
  font: normal 8pt arial;
  color: darkblue;
}
